@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --xcolor: linear-gradient(45deg, #991608, #C43D27);
    --ycolor: linear-gradient(45deg, #00A1AD, #07BED6);
    --primary: #1A2B33;
    --secondary: #1E3640;
    --grey: #A9BEC8;
    --mgn: 15px;
    --pdg: 15px;
    --radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--grey);
    letter-spacing: 3px;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    background-color: var(--primary);
}

img, svg {
    height: 50px;
    width: 50px;
}

button:hover:enabled {
    cursor: pointer;
    opacity: 0.8;
}

button:focus {
    transform: translateY(2px);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 3px;
}

.turn-display {
    background-color: var(--secondary);
    padding: 10px 20px;
    border-radius: var(--radius);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}

.undo {
    border: 1px solid black;
    border-radius: var(--radius);
    box-shadow: 0 -5px 0px rgba(0, 0, 0, .3);
    background-color: var(--grey);
}

.main {
    display: grid;
    place-items: center;
}

.main > ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--mgn);
}

.main > ul > li, .game-btn {
    height: 100px;
    width: 100px;
}

.game-btn {
    background-color: var(--secondary);
    border: none;
    border-radius: var(--radius);
    outline: 2px solid var(--opac-black);
    outline: 2px solid rgba(255, 255, 255, .2);
    transition: all .5s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.scores {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    bottom: 50%;
    padding: var(--pdg);
    gap: var(--mgn);
    width: 100%;
    max-width: 800px;
    justify-self: center;
}

.scores > div {
    border-radius: var(--radius);
    padding: var(--pdg);
    width: 100%;
}

.scores > div:first-child {
    background: var(--xcolor);
}

.scores > div:nth-child(2) {
    background: var(--grey);
}

.scores > div:nth-child(3) {
    background: var(--ycolor);
}

.scores h3, h5 {
    color: var(--secondary);
    text-align: center;
}

.modal {
    display: none;
    place-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

.modal-content {
    height: 25%;
    width: 100%;
    background-color: var(--secondary);
    display: grid;
    place-items: center;
}

.modal-content > h2 {
    color:gold;
}

.buttons-wrap {
    display: flex;
    gap: var(--pdg);
}

.buttons-wrap > button {
    color: #1E3640;
    font-weight: bolder;
    padding: var(--pdg);
    border: none;
    border-radius: 10px;
}

.buttons-wrap > button:nth-child(1) {
    background: var(--xcolor);
}

.buttons-wrap > button:nth-child(2) {
    background: var(--ycolor);
}

/* js interaction */

.game-btn:hover, .X, .O {
    background-repeat: no-repeat;
    background-position: center;
    transition: none;
}

.game-btn:hover:enabled {
    opacity: 0.5;
}

.X {
    background-image: url(images/x.svg);
}

.O {
    background-image: url(images/o.svg);
}

.winner {
    background-color: gold;
    transform: scale(1.1);
    transition: background-color transform 0.5s ease;
}